.example-form {
    min-width: 300px;
    max-width: 500px;
    width: 50%;
    min-height: 200px;
    margin: 0 auto;
    display: block;
    background-color: ghostwhite;
  }
  
  .example-full-width {
    width: 100%;
  }

  .input {
    padding-top: 10px;
    width: 75%;
    height: 60px;
  }
  