<div>
    <!-- TODO: fix loading -->
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    <div>
        <!--TODO: addfilters -->
        <div>
            <mat-form-field>
                <input matInput (keyup)="filterMovie($event.target.value)" placeholder="Buscar">
            </mat-form-field>
        </div>

        <!--TODO: add new movie -->

        <table mat-table [dataSource]="moviesTable">
            
            <ng-container matColumnDef="title">
                <th math-header-cell *matHeaderCellDef> Nome</th>
                <td mat-cell *matCellDef="let element"> {{element.title}}</td>
            </ng-container>
            
            <ng-container matColumnDef="producer">
                <th math-header-cell *matHeaderCellDef> Produtor</th>
                <td mat-cell *matCellDef="let element"> {{element.producer}}</td>
            </ng-container>
            
            <ng-container matColumnDef="director">
                <th math-header-cell *matHeaderCellDef> Diretor</th>
                <td mat-cell *matCellDef="let element"> {{element.director}}</td>
            </ng-container>
            
            <ng-container matColumnDef="release_date">
                <th math-header-cell *matHeaderCellDef> Data de Estreia</th>
                <td mat-cell *matCellDef="let element"> {{element.release_date}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="rowClick(myRowData)"></tr>
        </table>
    </div>
</div>

<app-movie-details 
    *ngIf="selectedMovie"
    [movie]="selectedMovie">
</app-movie-details>