<div *ngIf="movie" class="movie-card">
          <h2>{{movie.title | uppercase}} Details</h2>
          <div>
              <mat-card>
                  <mat-card-title>
                    {{ movie.title }}
                  </mat-card-title>
                  <mat-card-subtitle>
                    Episódio {{ movie.episode_id }}
                  </mat-card-subtitle>
                  <mat-card-content>
                    <span style="font-weight: bold">Data de Estreia:</span> {{ movie.release_date }}
                  </mat-card-content>
                  <mat-card-content>
                    <span style="font-weight: bold">Diretor(es):</span> {{ movie.director }}
                  </mat-card-content>
                  <mat-card-content>
                    <span style="font-weight: bold">Produtor(es):</span> {{ movie.producer }}
                  </mat-card-content>
                  <mat-card-content>
                    <span style="font-weight: bold">Texto de abertura:</span> {{ movie.opening_crawl }}
                  </mat-card-content>
                </mat-card>
          </div>
        
</div>