<div>
    <mat-card>
      <mat-card-title>
        Adicionar filme
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Título" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Episódio" type="number" min="8" [(ngModel)]="episode_id" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Diretor" [(ngModel)]="director" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Produtor" [(ngModel)]="producer" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <textarea matInput placeholder="Texto de abertura" [(ngModel)]="opening_crawl" [ngModelOptions]="{standalone: true}"></textarea>
        </mat-form-field>
        <mat-card-actions style="text-align: end">
          <button mat-raised-button (click)="cancelAddMovie()">CANCELAR</button>
          <button mat-raised-button (click)="addMovie()">ADICIONAR</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
